@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root{ 
  --first-color: #1A73E8;
  --input-color: #80868B;
  --border-color: #DADCE0;

  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .75rem;
}
 .login-page *,::before,::after{
  box-sizing: border-box;
}
.login-page body{
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.login-page #logoOfLogin{
    height: 16%;
    float: right;
    display: flex;
    padding-right: 1%;
    position: absolute;
    top: 11.5%;
    right: 5%;
}

.login-page h1{
  margin: 0;
}

.login-page .l-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-page .form{
    overflow: visible;
    background: rgba(255, 252, 131, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);

  width: 360px;
  padding: 4rem 2rem;
  border-radius: 1rem;
}
.login-page .form__title{
  font-size: 200%;
  font-family: Sans-serif;
  font-weight: 400;
  margin-bottom: 3rem;
  color: rgb(3, 24, 158);
}
.login-page .form__div{
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
}
.login-page .form__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}
.login-page .form__label{
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 .25rem;
  background-color: rgba(255, 255, 255, 0);
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: .3s;
}
.login-page .form__button{
  display: block;
  margin-left: auto;
  padding: .75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--normal-font-size);
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
}
.login-page .form__button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

.login-page .form__input:focus + .form__label{
  top: -.5rem;
  left: .8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
  background: rgba(123, 209, 255, 0.613);
    border-radius: 16px;
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);

}

.login-page .form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
  top: -.5rem;
  left: .8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

.login-page  .form__input:focus{
  border: 1.5px solid var(--first-color);
  background-color: rgba(255, 255, 255, 0);
}

.login-page *{
    margin: 0px;
    padding: 0px;
}

.login-page body{
    background-color: rgba(99, 80, 240, 0.558);
}
.login-page .boxcolour{
    background-color:rgba(99, 80, 240, 0.558);
    border-radius: 1rem;
}

.login-page .context {
    width: 100%;
    position: absolute;
    top:50vh;  
}

.login-page .area{
    padding: 0%;
    margin: 0%;
}

.login-page .circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.login-page .circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /* background: rgba(255, 255, 255, 0.2); */
    background: rgba(255, 255, 255, 0);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.login-page .circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
} 

.login-page .circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 10s;
}

.login-page .circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
}

.login-page .circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.login-page .circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.login-page .circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.login-page .circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.login-page .circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.login-page .circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.login-page .circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}